<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Конечные автоматы</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Главная</a></li>
            <li><a href="/about">О программе</a></li>
            <li><a href="/articles">Статьи</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
              <li><a href="/dashboard">Консоль</a></li>
              <li><a href="/logout">Выйти</a></li>
              <li><a href="{{ url_for('user', username=current_user.username) }}">Профиль</a>
            {% else %}
              <li><a href="/register">Регистрация</a></li>
              <li><a href="/login">Войти</a></li>
            {% endif %}
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
