{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Моделирование конечных автоматов</h1>
    <p class="lead">Приложение позволяет строить модели конечных автоматов</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Зарегистрироваться</a>
      <a href="/login" class="btn btn-success btn-lg">Войти</a>
    {% endif %}
  </div>

    <div id="content">
        <p>Введите число вершин:<input class="form-control" type="number" id="countNodes" label="Введите число вершин:" > </p>
        <input class="btn btn-success btn-lg" type="button" value="Создать таблицу" id="createTable"/>
        <input class="btn btn-primary btn-lg" type="button" value="Сбросить" id="createTable"/>

        </p>
        <div id="table"></div>
        <div id="picture">

        </div>
    </div>


{% endblock %}
