{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Finite State Machine</h1>
    <p class="lead">This application is built on the Python Flask framework</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>

    <div id="content">
        <p>Input count nodes:<input type="number" id="countNodes" > </p>
        <input type="button" value="Create" id="createTable"/>
        </p>
        <div id="table"></div>
        <img src="{{url_for('static', filename='img/result.png')}}" />
    </div>


{% endblock %}
